.details__container {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    height: 100%;
    width: 90%;
}

.details__container--image {
    display: flex;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
    height: 400px;
    width: 550px;

}

.details__container--text {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 50%;
}

