.oompaLoompas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 30px;
}

.home__container h1 {
  font-size: 60px;
  margin-bottom: -30px;
}

.home__container h3 {
  color: #999999;
  font-size: 40px;
}

.home__container h1,
.home__container h3 {
  text-align: center;
  font-weight: 300;
}

.input__container {
  display: flex;
  justify-content: right;
  margin-top: 30px;
}

.input__container input {
  border: 1px solid rgba(0, 0, 0, 0.398);
  align-self: center;
  border-radius: 5px;
  padding: 2px;
  padding-left: 10px;
  width: 120px;
  height: 20px;
}

.input__image {
  height: 20px;
  width: 20px;
  margin-right: 100px;
  margin-left: 10px;
  align-self: center;
}

.input__image:hover {
  cursor: pointer;
}

.input__container input::placeholder {
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

.oompaLoompa__image {
  display: flex;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 240px;
  width: 350px;
}

.oompaLoompa__description {
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 100px;
  width: 325px;
}

.oompaLoompa__description--name {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 5px;
  width: 200px;
}

.oompaLoompa__description--name:hover {
  cursor: pointer;
  color: #2db2cd;
}

.oompaLoompa__description--gender,
.oompaLoompa__description--profession {
  font-size: 14px;
  color: #999999;
  margin-bottom: 5px;
}

.oompaLoompa__description--profession {
  font-style: oblique;
}

@media only screen and (max-width: 400px) {
  .oompaLoompas {
    display: flex;
    flex-direction: column;
  }

  .oompaLoompa__image {
    display: flex;
    margin: auto;
    height: 240px;
    width: 300px;
  }

  .oompaLoompa__description {
    width: 280px;
  }
}
