.navbar {
    background-color: #D8D8D8;
    display: flex;
    flex-direction: row;
    padding: 10px;
    height: 15%;
    width: 100%;
}

.navbar img {
    height: 20px;
    width: 25px;
    align-self: center;
    margin-right: 20px;
    margin-left: 50px;
}